<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992992208763-s174j984arkpo5jgn8bgvjcdgi6hrilk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992992208763-s174j984arkpo5jgn8bgvjcdgi6hrilk</string>
	<key>API_KEY</key>
	<string>AIzaSyC5ukFZ3MeYO8VXlhoQYinFQRAaBNkQOdg</string>
	<key>GCM_SENDER_ID</key>
	<string>992992208763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jackantico.top-50-films</string>
	<key>PROJECT_ID</key>
	<string>top-50-films</string>
	<key>STORAGE_BUCKET</key>
	<string>top-50-films.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992992208763:ios:cca5a694ad2636e7303fde</string>
	<key>DATABASE_URL</key>
	<string>https://top-50-films.firebaseio.com</string>
</dict>
</plist>